{% extends "layout.html" %}

{% block title %}
    Lists
{% endblock %}

{% block main %}

    <h1>Lists for {{ data.username }}</h1>

    <h3>Trips</h3>
    <table class="table">
        <thead>
            <th>Trip ID</th>
            <th>Date</th>
            <th>Store</th>
            <th>Summary</th>
        </thead>
        <tbody>
            {% for trip in trips %}
                <tr>
                    <td>{{ trip.id }}</td>
                    <td>{{ trip.date }}</td>
                    <td>
                        <p>{{ trip.name }}</p>
                        <p>{{ trip.address }}</p>
                    </td>
                    <td>{{ trip.summary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>All List Items</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Trip ID</th>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.trip_id }}</td>
                    <td>{{ item.item_id }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
