{% extends "layout.html" %}

{% block title %}
    Meals
{% endblock %}

{% block body_class %}bg-meals{% endblock %}

{% block main %}

    <h1>Meals for {{ data.username }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
                <tr>
                    <td>{{ meal.date }}</td>
                    <td>{{ meal.type }}</td>
                    <td>{{ meal.summary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
