{% extends "auctions/layout.html" %}

{% block body %}
    <h2>
        Active Listings
        {% if category_name %}
            in {{ category_name }}
        {% endif %}
    </h2>

    <div class="container">
        <div class="row row-cols-3">
        {% for listing in listings %}
            <div class="card bg-light text-center" style="width: 18rem;">
                <a href="{% url 'listing' listing.id %}" class="card-header btn btn-light">
                    View Listing
                    {% if listing.image_url %}
                    <img class="card-img-top" 
                         src="{{ listing.image_url }}" 
                         alt="{{ listing.title }}" 
                         style="max-height:18rem; object-fit: cover;">
                    {% endif %}
                </a>
                
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ listing.title }}</strong> ${{ listing.current_price }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                </div>
            </div>
        {% empty %}
            <p>No active listings available.</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}