textarea {
    min-height: 400px;
}

.email-summary {
    border: 1px solid black;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    line-height: 1;
}

.email-read {
    background-color: lightgray;
}

.email-unread {
    background-color: white;
}