{% extends "network/layout.html" %}

{% block body %}
    <h3>New Post</h3>
    <div class="card text bg-secondary mb-3">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" name="content" placeholder="What's on your mind?">
                </div>
                <input type="submit" class="btn btn-primary"  value="Post">
            </form>
        </div>
    </div>

    <h3>All Posts</h3>
    
{% endblock %}