{% extends "network/layout.html" %}

{% block body %}
    <div class="card text-bg-dark mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <i class="bi-person-circle" style="font-size: 128px; padding: 32px;"></i>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title"><h2>{{ profile_user.username }}</h2></div>
                    <table class="table table-dark table-sm" style="max-width: 256px;">
                        <thead>
                            <tr>
                                <th>{{ profile_user.posts.count }}</th>
                                <th id="follower-count">{{ profile_user.followers.count }}</th>
                                <th>{{ profile_user.follows.count }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>posts</td>
                                <td>followers</td>
                                <td>following</td>
                            </tr>
                        </tbody>
                    </table>
                    {% if user.is_authenticated and user != profile_user %}
                    {% csrf_token %}
                        <button class="btn btn-primary" id="follow-button" data-username="{{ profile_user.username }}">
                            {% if user in profile_user.followers.all %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Posts</h3>
    
{% endblock %}